<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="container-md">
      <h2>Daily Quotes</h2>

      <% if (blogs.length > 0) {%> <% let x=0;blogs.forEach(blog=>{%>
      <div class="card">
        <div class="card-header">Quote<%= ++x%></div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p><%= blog.quote %></p>
            <footer class="blockquote-footer">
              <a
                class="author_link"
                target="_blank"
                href="https://www.google.com/search?q=<%= blog.author %>"
                ><%= blog.author %></a
              >
            </footer>
          </blockquote>
        </div>
      </div>
      <%})%> <% }else {%>
      <h3>NO BLOGS FOUND!!</h3>
      <% }%>
    </div>

    <%- include('./partials/foot.ejs') %>
  </body>
</html>
